@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,100italic,300italic,400italic);
* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  position: relative;
}

header {
  background-image: url('../img/sahara.jpg');
  background-size: cover;
  height: 100vh;
}

nav {
  height: 100px;
  font-weight: 100;
  padding: 0 20px;
  margin-bottom: 150px;
}

.links ul {
  color: white;
  list-style: none;
  margin-top: 40px;
}

.links ul li {
  font-weight: 400;
  display: inline;
  margin-left: 20px;
}

nav img {
  float: left;
  margin: 26px 0;
}

.links {
  float: right;
}

.sign-in, .sign-up {
  text-transform: uppercase;
  border-radius: 2px;
}

.sign-in {
  padding: 8px;
  border: 2px solid white;
}

.sign-up {
  background-color: gold;
  color: black;
  padding: 10px;
}

#landing {
  display: block;
  margin: auto;

}

header h1 {
  color: white;
  text-align: center;
  font-size: 6rem;
  margin: 20px;;
}

header h3 {
  text-align: center;
  font-size: 2.5rem;
  font-family: serif;
  font-style: italic;
  color: white;
}

#buttons {
  margin: auto;
  width: 800px;
  text-align: center;
}

.stories,
.facebook {
  display: inline-block;
  width: 360px;
  background: #999;
  margin: 15px;
}

.stories {
  border: 4px solid #999;
  border-radius: 4px;
  height: 72px;
  background: rgba(100, 100, 100, 0.5);
}

.facebook {
  height: 72px;
  border: 4px solid blue;
  border-radius: 4px;
  background: blue;
}
